<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
    rel="stylesheet"
    type="text/css"
  />

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<body>
  <section class="ftco-section">
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a routerLink="/home" class="nav-link">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->
  </section>
</body>

<table class="table table-striped" style="overflow-x: auto">
  <thead>
    <tr style="text-align: center">
      <th>Request Number</th>
      <th>Type of Account</th>
      <th>Account Number</th>
      <th>Applied Date</th>
      <th>Number of Pages</th>
      <th>Confirm Request ?</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let checkbookrequest of checkbookrequests | filter: term"
      style="text-align: center"
    >
      <td>{{ checkbookrequest.id }}</td>
      <td>{{ checkbookrequest.accType }}</td>
      <td>{{ checkbookrequest.account }}</td>
      <td>{{ checkbookrequest.date }}</td>
      <td>{{ checkbookrequest.no_of_pages }}</td>
      <td>
        <button
          (click)="confirmRequest(checkbookrequest.account)"
          class="btn btn-primary"
        >
          Confirm Request
        </button>
      </td>
    </tr>
  </tbody>
</table>
<footer
  class="text-center text-lg-start"
  style="position: fixed; bottom: 0; width: 100%"
>
  <div class="text-center p-3 text-dark">
    © 2022 Copyright, Developed By: Group 5
  </div>
</footer>
