<body>
  <section class="ftco-section">
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a routerLink="/home" class="nav-link">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->
  </section>
</body>

<table class="table table-striped" style="overflow-x: auto">
  <thead>
    <tr style="text-align: center">
      <th>First Name</th>
      <th>Last Name</th>
      <th style="padding-bottom: 1.5%">UserName</th>
      <!--<th>Email</th>-->
      <th>Primary Account Number</th>
      <th>Savings Account Number</th>
      <th>Enable Account</th>
      <th>Disable Account</th>
      <th style="padding-bottom: 1.5%">Features Granted to the User</th>
      <th style="padding-bottom: 1.5%">Change Features</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" style="text-align: center">
      <td>{{ user.fname }}</td>
      <td>{{ user.lname }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.primaryAccno }}</td>
      <td>{{ user.savingsAccno }}</td>
      <td>
        <button
          (click)="enableLoginService(user.username)"
          class="btn btn-success"
        >
          Enable
        </button>
      </td>
      <td>
        <button
          (click)="disableLoginService(user.username)"
          class="btn btn-success"
        >
          Disable
        </button>
      </td>
      <td>{{ user.featureStatus }}</td>
      <td style="text-align: center">
        <select (change)="filterSelected($event.target.value)">
          <option *ngFor="let r of roles" [value]="r.value">
            {{ r.name }}
          </option>
        </select>
        <button (click)="setOption(user.username)" class="btn btn-success">
          Set
        </button>
      </td>
    </tr>
  </tbody>
</table>
<footer
  class="text-center text-lg-start"
  style="position: fixed; bottom: 0; width: 100%"
>
  <div class="text-center p-3 text-dark">
    © 2022 Copyright, Developed By: Group 5
  </div>
</footer>
