<!-- <head>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
    rel="stylesheet"
    type="text/css"
  />

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head> -->
<body>
  <section class="ftco-section">
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a routerLink="/dashboard" id="dash" class="nav-link"
                >Dashboard</a
              >
            </li>
            <li class="nav-item active">
              <a routerLink="/home" class="nav-link">Check Balance</a>
            </li>
            <li class="nav-item active">
              <a routerLink="/editProfile" class="nav-link">Profile setting</a>
            </li>
            <li class="nav-item active">
              <a routerLink="/login" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
</body>

<main class="site-wrapper">
  <div class="pt-table desktop-768">
    <div
      class="pt-tablecell page-home relative"
      style="
        background-image: url(https://thumbs.dreamstime.com/z/pile-one-hundred-us-banknotes-cash-dollar-bills-background-image-president-portraits-140089163.jpg);
        background-position: center;
        background-size: cover;
      "
    >
      <div class="overlay"></div>

      <div class="container">
        <div class="row">
          <div
            class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8"
          >
            <div class="page-title home text-center">
              <span class="heading-page"> Welcome to ICIN BANK </span>
            </div>

            <div class="hexagon-menu clear">
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a routerLink="/transactionHistory" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-universal-access"></i>
                    </span>
                    <span class="title">Transcation History</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a routerLink="/transferHistory" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-bullseye"></i>
                    </span>
                    <span class="title">Transfer History</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a routerLink="/transfer" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-braille"></i>
                    </span>
                    <span class="title">Transfer Money</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>

              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a routerLink="/chequebookRequest" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-id-badge"></i>
                    </span>
                    <span class="title">Request Checkbook</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a routerLink="/deposite" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-life-ring"></i>
                    </span>
                    <span class="title">Deposit</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a routerLink="/withdraw" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-clipboard"></i>
                    </span>
                    <span class="title">Withdraw</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a routerLink="/applyloan" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-map-signs"></i>
                    </span>
                    <span class="title">Apply Loan</span>
                  </span>
                  <svg
                    viewBox="0 0 173.20508075688772 200"
                    height="200"
                    width="174"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="#1e2530"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer
  class="text-center text-lg-start"
  style="position: fixed; bottom: 0; width: 100%"
>
  <div class="text-center p-3 text-white">
    © 2022 Copyright, Developed By: Group 5
  </div>
</footer>
